body {
  font-family: Helvetica;
}

section {
  width: 50%;
  display: inline;
  float: left;
}

#options {
  border: 1px solid black;
  width: 18em;
}

#options h2 {
  margin: 10px;
}

#options button {
  margin-left: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: max-width;
  max-width: 250px;
  padding: 0 4px;
  float: left;
}

.column {
  flex: 25%;
  flex-wrap: max-width;
  max-width: 100px;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 70px;
  height: 70px;
}
